In [1]:
# sentiment analysis using pre trained models (+ve or -ve)
# vader , text blob --> third party library

In [3]:
import nltk
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [4]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\shubh\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [5]:
sent = SentimentIntensityAnalyzer()

In [6]:
sent.polarity_scores('Food served was vary tasty, i enjoyed eating it')

{'neg': 0.0, 'neu': 0.68, 'pos': 0.32, 'compound': 0.5106}

In [7]:
sent.polarity_scores('Journey was horrible and flight was late ')

{'neg': 0.368, 'neu': 0.632, 'pos': 0.0, 'compound': -0.5423}

In [8]:
sent.polarity_scores('food was good but loaction is bad')

{'neg': 0.406, 'neu': 0.427, 'pos': 0.167, 'compound': -0.5859}

In [9]:
sent.polarity_scores('today is monday')

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [10]:
import pandas as pd
import numpy as np

In [11]:
td=pd.read_csv("D:\Imarticus Learning\DATASETS\Trip_advisor_review.csv")

In [12]:
td.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [13]:
td=td.drop(['Rating'],axis=1)

In [14]:
td.head()

                                              Review
0  nice hotel expensive parking got good deal sta...
1  ok nothing special charge diamond member hilto...
2  nice rooms not 4* experience hotel monaco seat...
3  unique, great stay, wonderful time hotel monac...
4  great stay great stay, went seahawk game aweso...

In [15]:
score = []

for i in range(0,td.shape[0]):
    op = sent.polarity_scores(td.Review[i])
    score.append(op['compound'])

In [18]:
pd.DataFrame(score).describe()

                  0
count  20491.000000
mean       0.803430
std        0.455671
min       -0.997400
25%        0.918400
50%        0.973800
75%        0.988800
max        0.999900

In [19]:
am=pd.read_csv("D:\Imarticus Learning\DATASETS\AmazonFoodReviews.csv")

In [20]:
am.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [22]:
am=am.iloc[:,[-1]]

In [23]:
am

                                                     Text
0       I have bought several of the Vitality canned d...
1       Product arrived labeled as Jumbo Salted Peanut...
2       This is a confection that has been around a fe...
3       If you are looking for the secret ingredient i...
4       Great taffy at a great price.  There was a wid...
...                                                   ...
568449  Great for sesame chicken..this is a good if no...
568450  I'm disappointed with the flavor. The chocolat...
568451  These stars are small, so you can give 10-15 o...
568452  These are the BEST treats for training and rew...
568453  I am very satisfied ,product is as advertised,...

[568454 rows x 1 columns]

In [25]:
score = []

for i in range(0,am.shape[0]):
    op = sent.polarity_scores(am.Text[i])
    score.append(op['compound'])

In [26]:
pd.DataFrame(score).describe()

                   0
count  568454.000000
mean        0.647316
std         0.466244
min        -0.999400
25%         0.576400
50%         0.854600
75%         0.942100
max         0.999900

In [29]:
from textblob import TextBlob

In [30]:
blob= TextBlob(" food served was very very tasty, i enjoyed eating it")
blob.sentiment

Sentiment(polarity=0.38, subjectivity=0.5449999999999999)

In [31]:
blob= TextBlob(" journey was horrible and flight was late and log of noise are present")
blob.sentiment

Sentiment(polarity=-0.43333333333333335, subjectivity=0.5333333333333333)

In [32]:
td=pd.read_csv("D:\Imarticus Learning\DATASETS\Trip_advisor_review.csv")

In [33]:
td=td.drop(['Rating'],axis=1)

In [34]:
td

                                                  Review
0      nice hotel expensive parking got good deal sta...
1      ok nothing special charge diamond member hilto...
2      nice rooms not 4* experience hotel monaco seat...
3      unique, great stay, wonderful time hotel monac...
4      great stay great stay, went seahawk game aweso...
...                                                  ...
20486  best kept secret 3rd time staying charm, not 5...
20487  great location price view hotel great quick pl...
20488  ok just looks nice modern outside, desk staff ...
20489  hotel theft ruined vacation hotel opened sept ...
20490  people talking, ca n't believe excellent ratin...

[20491 rows x 1 columns]

In [42]:
score = []

for i in range(0,td.shape[0]):
    blob=TextBlob(td.Review[i])
    score.append(blob.sentiment[0])

In [43]:
pd.Series(score).describe()

count    20491.000000
mean         0.274278
std          0.181452
min         -1.000000
25%          0.177426
50%          0.280371
75%          0.384903
max          1.000000
dtype: float64

In [44]:
am=pd.read_csv("D:\Imarticus Learning\DATASETS\AmazonFoodReviews.csv")

In [45]:
am=am.iloc[:,[-1]]

In [47]:
score = []

for i in range(0,am.shape[0]):
    blob=TextBlob(am.Text[i])
    score.append(blob.sentiment[0])

In [48]:
pd.Series(score).describe()

count    568454.000000
mean          0.241593
std           0.224809
min          -1.000000
25%           0.106250
50%           0.231818
75%           0.371861
max           1.000000
dtype: float64

In [53]:
import nltk

In [54]:
from nltk.stem.snowball import SnowballStemmer

In [55]:
stemmer = SnowballStemmer(language="english")

In [66]:
word_list =['swim','swimmer','swimming','matches','mens','laughing','cars','loving','humans','indians','writing','playing','player','emotions','expressing','being','rotation']

In [67]:
for word in word_list:
    print(word, "       its stemming is  --> ",stemmer.stem(word))

swim        its stemming is  -->  swim
swimmer        its stemming is  -->  swimmer
swimming        its stemming is  -->  swim
matches        its stemming is  -->  match
mens        its stemming is  -->  men
laughing        its stemming is  -->  laugh
cars        its stemming is  -->  car
loving        its stemming is  -->  love
humans        its stemming is  -->  human
indians        its stemming is  -->  indian
writing        its stemming is  -->  write
playing        its stemming is  -->  play
player        its stemming is  -->  player
emotions        its stemming is  -->  emot
expressing        its stemming is  -->  express
being        its stemming is  -->  be
rotation        its stemming is  -->  rotat

In [69]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\shubh\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [71]:
 nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\shubh\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [72]:
text="climate change and global warming are the challenges which all the nations are facing"
tokenized =nltk.word_tokenize(text)
pos_tagged=nltk.pos_tag(tokenized)# pos is part of speech(noun, adverb, verb)

In [73]:
tokenized

['climate',
 'change',
 'and',
 'global',
 'warming',
 'are',
 'the',
 'challenges',
 'which',
 'all',
 'the',
 'nations',
 'are',
 'facing']

In [75]:
pos_tagged

[('climate', 'NN'),
 ('change', 'NN'),
 ('and', 'CC'),
 ('global', 'JJ'),
 ('warming', 'NN'),
 ('are', 'VBP'),
 ('the', 'DT'),
 ('challenges', 'NNS'),
 ('which', 'WDT'),
 ('all', 'PDT'),
 ('the', 'DT'),
 ('nations', 'NNS'),
 ('are', 'VBP'),
 ('facing', 'VBG')]

In [79]:
# NER :_ name entity recognition
nltk.download('maxent_ne_chunker')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\shubh\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.

True

In [96]:
text="state of Mumbai is in central part of India."

tokenized=nltk.word_tokenize(text)
pos_tagged=nltk.pos_tag(tokenized)
chunks=nltk.ne_chunk(pos_tagged)
for chunk in chunks:
    if hasattr(chunk,'label'):
        print(chunk)

(GPE Mumbai/NNP)
(GPE India/NNP)

In [92]:
text="APJ Abdul Kalam is my role model"

tokenized=nltk.word_tokenize(text)
pos_tagged=nltk.pos_tag(tokenized)
chunks=nltk.ne_chunk(pos_tagged)
for chunk in chunks:
    if hasattr(chunk,'label'):
        print(chunk)

(ORGANIZATION APJ/NNP)
(PERSON Abdul/NNP Kalam/NNP)

In [93]:
text="Rohit Sharma is Caption of Indian Cricket Team."

tokenized=nltk.word_tokenize(text)
pos_tagged=nltk.pos_tag(tokenized)
chunks=nltk.ne_chunk(pos_tagged)
for chunk in chunks:
    if hasattr(chunk,'label'):
        print(chunk)

(PERSON Rohit/NNP)
(PERSON Sharma/NNP)
(GPE Indian/JJ)

In [94]:
text="Asia's biggest economies are competing to gain an edge in the global nuclear industry.."

tokenized=nltk.word_tokenize(text)
pos_tagged=nltk.pos_tag(tokenized)
chunks=nltk.ne_chunk(pos_tagged)
for chunk in chunks:
    if hasattr(chunk,'label'):
        print(chunk)

(GPE Asia/NNP)

In [95]:
text="Singapore is confident that it will not be unduly affected by the global banking crisis."

tokenized=nltk.word_tokenize(text)
pos_tagged=nltk.pos_tag(tokenized)
chunks=nltk.ne_chunk(pos_tagged)
for chunk in chunks:
    if hasattr(chunk,'label'):
        print(chunk)

(GPE Singapore/NNP)

In [106]:
# pip install stanza

In [103]:
import stanza
stanza.download('en')
nlp=stanza.Pipeline(lang='en',processors='tokenize,ner')

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.9.0.json:   0%|   …

2024-11-15 11:38:45 INFO: Downloaded file to C:\Users\shubh\stanza_resources\resources.json
2024-11-15 11:38:45 INFO: Downloading default packages for language: en (English) ...
2024-11-15 11:38:47 INFO: File exists: C:\Users\shubh\stanza_resources\en\default.zip
2024-11-15 11:38:50 INFO: Finished downloading models and saved to C:\Users\shubh\stanza_resources
2024-11-15 11:38:50 INFO: Checking for updates to resources.json in case models have been updated.  Note: this behavior can be turned off with download_method=None or download_method=DownloadMethod.REUSE_RESOURCES

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.9.0.json:   0%|   …

2024-11-15 11:38:50 INFO: Downloaded file to C:\Users\shubh\stanza_resources\resources.json
2024-11-15 11:38:51 WARNING: Language en package default expects mwt, which has been added
2024-11-15 11:38:51 INFO: Loading these models for language: en (English):
=========================================
| Processor | Package                   |
-----------------------------------------
| tokenize  | combined                  |
| mwt       | combined                  |
| ner       | ontonotes-ww-multi_charlm |
=========================================

2024-11-15 11:38:51 INFO: Using device: cpu
2024-11-15 11:38:51 INFO: Loading: tokenize
2024-11-15 11:38:51 INFO: Loading: mwt
2024-11-15 11:38:51 INFO: Loading: ner
2024-11-15 11:38:52 INFO: Done loading processors!

In [104]:
doc=nlp("GDP of India is around 5 trillion USD")
for ent in doc.entities:
    print(ent.text, " || ",ent.type)

India  ||  GPE
around 5 trillion USD  ||  MONEY

In [105]:
doc=nlp("Rohit Sharma is captain of Indian Cricket Team")
for ent in doc.entities:
    print(ent.text, " || ",ent.type)

Rohit Sharma  ||  PERSON
Indian Cricket Team  ||  ORG

In [108]:
doc=nlp("Asia's biggest Economies are competing to gain an edge in the Global Nuclear Industry")
for ent in doc.entities:
    print(ent.text, " || ",ent.type)

Asia's  ||  ORG

In [110]:
doc=nlp("PM Modi was came Pune because of Election")
for ent in doc.entities:
    print(ent.text, " || ",ent.type)

Modi  ||  PERSON
Pune  ||  GPE

In [115]:
doc=nlp("Mr.Pranjal Mishra have lot of knowledge about Data Science and He is My Favorite Teacher. I want to become his Favourite Student also I want choclate from them")
for ent in doc.entities:
    print(ent.text, " || ",ent.type)

Pranjal Mishra  ||  PERSON
Data Science  ||  ORG
My Favorite Teacher  ||  WORK_OF_ART

In [ ]:
# vader , test blob -->(sentiment analysis) pretrained model 
# stemming --> nltk 
# pos --> nltk
# ner --> stanza

In [ ]:
# model building using TDM